@import "../../../../styles/variables.scss";

.dial {

    &.right {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }

    &.left {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
    }

    .tooltip {
        color: $grey;
        white-space: nowrap;
    }

    .fab {
        color: $blue;
    }
}