@import "../../../styles/variables.scss";

.card {
    position: relative;

    .options {
        position: absolute;
        top: 0.75rem;
        right: 0.5rem;
        color: $medium-grey;
    }

    .data {
        padding: 0.5rem 0;

        h3 {
            margin: 0 0 0.25rem 0;
            font-size: 1.1rem;
        }

        p {
            margin: 0;
            font-size: 0.9rem;
        }
    }
}