@import "../../../styles/variables.scss";

.card {
    position: relative;
    cursor: pointer;

    .options {
        position: absolute;
        top: 1rem;
        right: 0.75rem;
        color: $medium-grey;
        cursor: pointer;
    }

    .content {
        padding: 0.5rem 0;
        transition: 0.3s ease-in-out;

        h3 {
            margin: 0.25rem 0 0 0;
            font-size: 1.1rem;
            font-weight: 600;
        }

        .back {
            height: 0;
            overflow: hidden;
            transition: 0.3s ease-in-out;

            p {
                font-size: 0.9rem;
                font-weight: 300;
                color: $medium-grey;
                white-space: pre-line;
                margin-bottom: 0;
            }

            &.showBack {
                height: auto;
            }
        }
    }
}