@import "../../../styles/variables.scss";

.card {
    position: relative;

    .options {
        position: absolute;
        top: 1rem;
        right: 0.75rem;
        color: $medium-grey;
        cursor: pointer;
    }

    .data {
        padding: 0.5rem 0;

        h3 {
            margin: 0.25rem 0 0 0;
            font-size: 1.1rem;
        }
    }
}