@import "../../../../styles//variables.scss";

.paper {
    padding: 1rem 2rem;
    border-radius: 1rem;
    @include box-shadow;
    border: 0.25px solid rgba($color: $medium-grey, $alpha: 0.25);
    background-color: $white;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
}