@import "../../../styles/variables.scss";

.signin {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 10rem;
        height: auto;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

}