@import "../../../../styles//variables.scss";

.input {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;

    &.center {
        align-items: center;
        text-align: center;
    }

    &.fullWidth {
        width: 100%;

        input {
            width: 100%;
        }
    }

    label {
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
    }

    input {
        border-radius: 0.25rem;
        border: $medium-grey 1px solid;
        padding: 0.7rem 1.5rem;
        outline: none;
        transition: 0.3s ease-in-out;
        font-size: 1rem;
        text-align: inherit;
        box-sizing: border-box;

        &:focus {
            border: $blue 1px solid;
            outline: none;
            font-weight: 500;
        }
    }
}