$main-font: "Open Sans";
$heading-font: "Comfortaa";
$light-grey: #f4f4f4;
$medium-grey: #7a8d9c;
$grey: #2c2b30;
$white: #ffffff;
$blue: #307dfe;
$blue-gradient: linear-gradient(90deg, rgba(48, 125, 254, 1) 0%, rgba(29, 88, 251, 1) 100%);