@import "../../../styles/variables.scss";

.card {
    padding: 1rem 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 3px 3px 50px -30px rgba(48, 123, 254, 0.5);
    -moz-box-shadow: 3px 3px 50px -30px rgba(48, 123, 254, 0.5);
    box-shadow: 3px 3px 50px -30px rgba(48, 123, 254, 0.5);
    border: 0.25px solid rgba($color: $medium-grey, $alpha: 0.25);
    background-color: $white;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;

    &:hover {
        border-color: $blue;
        border-width: 2px;
    }

    .category {
        color: $blue;
        font-weight: 600;
        font-size: 0.85rem;
        margin: 0;
    }

    .name {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0.5rem 0 0.5rem 0;
    }

    small {
        font-weight: 300;
        color: $medium-grey;
    }
}