@import "../../../styles/variables.scss";

.card {

    &:hover {
        border-color: $blue;
        border-width: 2px;
    }

    .category {
        color: $blue;
        font-weight: 600;
        font-size: 0.85rem;
        margin: 0;
    }

    .name {
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0.5rem 0 0.5rem 0;
    }

    small {
        font-weight: 300;
        color: $medium-grey;
    }
}