@import "../../styles/variables.scss";

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 10rem;
        height: auto;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    form {

        .group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;

            label {
                color: $grey;
                font-weight: 500;
                font-size: 0.9rem;
                margin-bottom: 0.25rem;
            }

            input {
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                border: 1px solid $medium-grey;
                background-color: white;
                -webkit-border-radius: 0.25rem;
                -moz-border-radius: 0.25rem;
                -ms-border-radius: 0.25rem;
                -o-border-radius: 0.25rem;
                text-align: center;
            }
        }

        .buttons {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            button:first-child {
                margin-right: 0.5rem;
            }

            p {
                font-weight: 500;
                font-size: 0.9rem;
                text-align: center;
                cursor: pointer;
            }
        }
    }


}