@import "../../../../styles/variables.scss";

.fullscreen {
    min-height: 100vh;
    width: 100vw;
    border: 5px solid $blue;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    background-color: $white;
    top: 0;

    &.center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}