@import "../../styles/variables.scss";

.auth {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 10rem;
        height: auto;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .options {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 0.8rem;
        }
    }
}